<%= link_to edit_user_path(@user.id) do %>
<p>&emsp;<b>＜＜＜</b>&emsp;</p>
<% end %>
<hr>
<div>
  <%= form_with model: @user,url: user_path(@user.id) do |form| %>
  郵便番号：<%= form.text_field :postalcode %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= form.submit %>
<% end %>
</div>