<div>
<h1>使い方</h1>
<h3><b>ユーザー側</b></h3>
<p>	&#9786;友人作成・グループ作成・企業やその他お手伝い・情報発信・※email:hoge@hgoe pasward:123456</p>
	<span class="btn btn-default navbar-btn"><i class="im im-magnifier"></i><br><%= link_to 'ユザー側〜ログイン〜', new_user_session_path %></span>
     <span class="btn btn-default navbar-btn"><i class="im im-magnifier"></i><br><%= link_to 'ユーザー側〜新規登録〜', new_user_registration_path %></span>
</div>
<h3><b>掲載者側</b></h3>
<p>	&#9787;仕事の手伝い依頼・情報発信・※email:hoge@hgoe2 pasward:123456</p>
<div>
	<span class="btn btn-default navbar-btn"><i class="im im-magnifier"></i><br><%= link_to "掲載者側〜　ログイン〜",publishers_index_path%></span>
     <span class="btn btn-default navbar-btn"><i class="im im-magnifier"></i><br><%= link_to '掲載者側〜新規登録〜', new_publisher_registration_path %></span>
</div>