<div>
   <table class="table table-inverse">
          <thead>
            <tr>
              <th><%=attachment_image_tag(user,:img ,:fill,150,150,fallback:"downroad.jpg",size:"100x100") %></th>
            </tr>
          </thead>
          <tbody>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                 <tr>
                  <td></td>
                 </tr>
           <tbody>
     </table>
</div>