<div class="row">
    <div class="col-md-8 col-md-offset-2">
		<% @user.users_publishers.each do |users_publisher| %>
		  <%= users_publisher.publisher.id %>
		  <%# if UsersPublisher.(user_id: current_user.id ,publisher_id: users_publisher.publisher.id).follow_permission == true %>
		    <%#= link_to "チャットルームへ",  チャットルーム用のパス_path(users_publisher.publisher) %>
		   <%# end %>
		   <!-- チャットルームの遷移方法 -->
		<% end %>

		<h3>ボランティア受付一覧</h3>
		<h3>連絡しようと声かけてきた人｜フォロー｜</h3>
		<h3>連絡しようと声かけしている人｜フォロワー｜</h3>
	</div>
</div>


<!-- users_follow_index_path -->