<div>
	<% @users.each do |users| %>
	<table>
		<tr>
			<th>
		     <!--  users.images.image_id
		      userrs.age
		      users.comptence -->
		    </th>
		</tr>
		<tr>
	    	<td>
		      <!-- users.comptence.work
		      users.comptence.hoby -->
	    	</td>
	    </tr>
	</table>
	<% end %>
</div>

<!-- コメリンク貼りたい -->