/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*font-awesome-sass用の記述*/
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//---------------tumugi------------------------------------------
main {
  background-color: floralwhite;
  height: auto;
  width: 100%;
}

.tugumi {
    font-family:  serif;    /* フォントの種類指定 */
    border:solid 1px black;
    font-size:  35px;       /* 文字サイズ指定 */
    margin-top: -10px;
    color: yellow;        /* 空白指定 */
    text-decoration :none;
    font-weight: bold;
    background-color:darkgoldenrod;
    border-radius: 50px;
    padding:5px;
    text-shadow:2px 2px 0px black,
               6px 4px 0px rgba(0,0,0,0.5);;
}

// ジャンル検索テーブル

.trr :hover{
  background-color: #FFCCCC;
}


// フッター tugumi--------------------------------------------
footer {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: saddlebrown;
  margin: auto 0;
}

// ----------------------------------------------------
h3 {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-align: center;
  background-color: limegreen;
}
h3:before, h3:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
h3:before {
  left: 7px;
}
h3:after {
  right: 7px;
}


//----tugumi-----------------------------------------------------------