// Place all the styles related to the publishers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//----tugumi-----------------------------------------------------------
// ------------画像の配置--------------------
.flex-container {
     display: flex;
     flex-wrap: wrap;
     // justify-content: center;
}
// ------------下の要素の幅-------------------
.flex-item{
    text-align: center;
    width: 25%;
    // word-wrap: break-word;
}
// ---------------文字数--------------------------
.a{
	overflow: hidden;
	width: 25%;
	text-align: center;
	padding-left:70px;
	padding-right:70px;
}

// --------------------------------------------

p{
  width: 100%;
}
//---------showページ------------------------------
.kokuban-s3 {
 position: relative;
 margin: 2em auto;
 padding: 1em;
 width: 90%; /* ボックス幅 */
 background: #006633; /* ボックス背景色 */
 color: #fff; /* 文章色 */
 border: 5px solid #C0C0C0; /* 枠線 */
 border-radius: 2px; /* 角の丸み */
 box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
}
.kokuban-s3::before,
.kokuban-s3::after {
 position: absolute;
 content: '';
 bottom: 0;
} 
.kokuban-s3::before {
 width: 20px;
 right: 10px;
 border: solid 3px #ff42a0; /*チョークピンク */
 border-radius: 3px 2px 0 2px;
}
.kokuban-s3::after {
 width: 15px;
 right: 45px;
 border: solid 3px #fff; /*チョーク白 */
 border-radius: 8px 5px 2px 5px;
}